<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- bootstrap-icon css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
  <ul>
    <h2 class="mx-3 my-5">회원가입</h2>
    <ul style="display: flex; flex-wrap: wrap;">
      <a href="{% url 'accounts:signup_tourist' %}">
        <button class='btn btn-default btn-lg btn-primary'>투어리스트</button>
      </a>

      <a href="{% url 'accounts:signup_guide' %}">
        <button class='btn btn-default btn-lg btn-primary'>가이드</button>
      </a>
  </ul>
    
    {% comment %} <div>
        <a href="{% url 'accounts:signup_tourist' %}">
            <button class='btn btn-default btn-lg btn-primary'>투어리스트</button>
        </a>
    </div>
    
    <div>
        <a href="{% url 'accounts:signup_guide' %}">
            <button class='btn btn-default btn-lg btn-primary'>가이드</button>
        </a>
    </div> {% endcomment %}
   
  </ul>

  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

